.Notification {
  display: flex;
  flex-direction: column;
  width: 100%vw;
  right: 2px;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Notification-Success {
  border: 3px #16a084ec solid;
  color: #16a084ec;
}

.Notification-Info {
  border: 3px #2980b9 solid;
  color: #2980b9
}

.Notification-Warning {
  border: 3px #b19b46 solid;
  color: #b19b46;
}

.Notification-Danger {
  border: 3px #c0392b solid;
  color: #c0392b;
}
