.Notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  right: 2px;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Notification-Success {
  background-color: #16a084ec;
}

.Notification-Info {
  background-color: #156295;
}

.Notification-Warning {
  background-color: #b19b46;
}

.Notification-Danger {
  background-color: #c0392b;
}

.Notification i{
  position: relative;
  display: inline;
  float: left;
}
