@keyframes Fade {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.NotificationPopup {
  display: block;
  position: fixed;
  width: 30vw;
  right: 2px;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: Fade 6s forwards;
}

.NotificationPopup-Success {
  background: linear-gradient(to top, #16a084ec, #1abc9cf1);
}

.NotificationPopup-Info {
  background: linear-gradient(to top, #3498db, #2980b9);
}

.NotificationPopup-Warning {
  background: linear-gradient(to top, #b19b46, #d1b648);
}

.NotificationPopup-Danger {
  background: linear-gradient(to top, #e74c3c, #c0392b);
}
