@keyframes SubmenuFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.Submenu ul {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 15px;
  animation: SubmenuFade 0.5s forwards;
}

.Submenu ul li {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: baseline;
  white-space: nowrap;
}
.Submenu ul li:hover{
  background-color: #003869;;
}
.Submenu ul li a {
  color: #fff;
  text-decoration: none;
}
