.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Area{
  display: flex;
  flex-direction: row;
  
}

.Content{
  width: 100%;
  display: flex;
  justify-content: center;
}
