@keyframes FadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: FadeIn 0.4s forwards;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #01447e;
}

body::-webkit-scrollbar-thumb {
  background-color: #3d7aaf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row-content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.column-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.fadeIn {
  animation: FadeIn 1s forwards;
}

.styless-btn{
  background: none;
  border: none
}
