

@keyframes TabAnimSelected{
    0%{
        transform: translateY(0px);
        background-color: #306dbe;
    }
    100%{
        transform: translateY(-10px);
        background-color: #306dbe;
    }
    
}


.TabHeader{
    list-style-type: none;
    border-right: 1px solid #ccc;
    padding: 7px 15px 7px 15px;
}

.TabHeader:hover{
    background-color: #306dbe;
    cursor: pointer;
}

.TabHeader:hover button{
    background: rgba(255, 255, 255, 0);
    color: #FFF;
}

.TabHeader i{
    margin-right: 5px;
}

.TabHeader button{
    color: #0048a7;
}

.TabHeader-Selected{
    list-style-type: none;
    border-right: 1px solid #ccc;
    padding: 7px 15px 7px 15px;
    animation: TabAnimSelected 0.4s;
    background-color: #306dbe;
    transform: translateY(-10px);
}

.TabHeader-Selected button{
    color: #fff;
}

