@keyframes ButtonAnim{
    0%{
        margin-top: 0;
        border: 0px;
        background: linear-gradient(to top, rgb(73, 110, 158), #609fc8);
        color: rgb(46, 81, 126);
    }
    100%{
        background: linear-gradient(to top, rgb(73, 110, 158), #609fc8);
        margin-top: -9px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
}

.TabHeader{
    list-style-type: none;
    border-right: 1px solid #ccc;
    padding: 7px 15px 7px 15px;
}

.TabHeader:hover{
   animation: ButtonAnim 0.5s forwards;
}

.TabHeader:hover button{
    background: rgba(255, 255, 255, 0);
    color: #FFF;
}

.TabHeader i{
    margin-right: 5px;
}

.TabHeader button{
    color: rgb(46, 81, 126);
}

.TabHeader-Selected{
    
}
